.App {
  text-align: center;
  background-color: #BA7D7D;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#App-header{
  margin: 0 auto;/*center horizontally*/
  width: 50%;
  overflow: visible;
  white-space: nowrap;
}

@font-face {
  font-family: 'IslandMoments';
  src: url('https://fonts.google.com/specimen/Island+Moments') format('truetype');
  /* or use a CDN */
  /* src: url('cdn-link-to-font') format('truetype'); */
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}

.BG-header{
  padding-top: 37px;
  padding-left: 1%;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(25% + 2vmin);
  background-color: #835243;
  color: black;
  font-family: Serif;
}
.box-border{
  min-width: 50vh;
  padding-top: 8%;
  background-color: #835243;
  border-radius: 30px;
  padding-bottom: 8%;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: medium;
  border-color: black;
  border-style: solid;
}
.App-header {
  padding-top: 5%;
  padding-left: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: black;
  font-family: 'Courier New', Courier, monospace;

}

.p1{
  border-radius: 100%;
  border-style: solid;
  border: black;
  border-width: thick;

}

.App-body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.styled-line {
  border: none;
  height: 2px;
  background-color: black;
}