.App {
  text-align: center;
}
body {
  font-family: Courier;
  background-color: #BA7D7D;
}

.styled-hr {
  border: none;
  height: 2px;
  background-color: black;
}

/* ===================================== HEADER.CSS ===================================== */
header {
  display: flex;
  border: 2px solid #835243;
  background-color: #835243;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#title {
  color: white;
  font-family: Courier New;
  font-style: normal;
  margin-left: 30px;
  text-shadow: 5px 2px 2px #8a6c6c;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

nav a:hover {
  background-color: #e29999;
  color: white;
}

nav a:active {
  background-color: #7e5454;
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===================================== COUNTER.CSS ===================================== */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 2px solid #835243;
}

.counter-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 80%;
  background-color: white;
  box-shadow: 0px 25px 40px #835243;
  border: 1px solid #835243;
  border-radius: 30px;
}

.food-title h3,
.calorie-title h3,
.counter-title h2 {
  text-align: center;
}

.counter-title {
  border-bottom: 1px solid black;
}

.food-calorie-title-container {
  display: flex;
  justify-content: space-between;
}

.food-title { 
  width: 65%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.calorie-title {
  flex: 1;
  border-bottom: 1px solid black;

}

.cafe-feed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.cafe-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 65%;
  border-right: 1px solid black;
}

.caption-list-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}

.add-item-container {
  width: 100%;
}

.calories-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ===================================== CAFE.CSS ===================================== */

.cafe-post-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 85%;
  width: 85%;
  background-color: #efb0b0;
  box-shadow: 0px 5px 10px #835243;
  border: 1px solid #efb0b0;
  border-radius: 30px;
  padding: 10px; /* Add some padding around the contents */
}

.cafe-name {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content horizontally */
  justify-content: center; /* This will center the content vertically */
  height: 10%;
  width: 65%; /* Removed the duplicate width declaration */
  background-color: white;
  box-shadow: 0px 5px 10px #835243;
  border-radius: 10px;
}

.cafe-name h3 {
  font-family: Courier;
  text-align: center; /* This centers the text inside the h3 tag itself, which is good practice */
  margin-bottom: 20px; /* Add some space below the heading */
}

.cafe-post-container img {
  max-width: 100%; /* Ensure the image doesn't overflow its container */
  max-height: 80%; /* Adjust as needed */
  object-fit: cover; /* Adjust the fit without distorting the image */
  border-radius: 20px; /* Optional: to match the container's styling */
  margin-bottom: 10px; /* Space below the image */
  padding: 10px; /* Add some padding around the contents */
}

/* ===================================== CAPTION.CSS ===================================== */
.caption-post-container {
  display: flex;
  align-items: center;
  justify-content: space-around; /* This spreads out the child elements. You can use 'flex-start' to align them to the left or 'space-between' for equal spacing */
  flex-direction: column;
  height: 85%;
  width: 85%;
  background-color: #efb0b0;
  box-shadow: 0px 5px 10px #835243;
  border: 1px solid #efb0b0;
  border-radius: 30px;
  padding: 10px; /* Add some padding around the contents */
}

.caption-tag {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content horizontally */
  justify-content: center; /* This will center the content vertically */
  height: 10%;
  width: 20%; /* Removed the duplicate width declaration */
  background-color: white;
  box-shadow: 0px 5px 10px #835243;
  border-radius: 10px;
  overflow: hidden;
}

.caption-tag h3 {
  font-family: Courier;
  text-align: center; /* This centers the text inside the h3 tag itself, which is good practice */
  margin: 0; /* Removes default margin to ensure tight spacing. Adjust as needed */
}